* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  /* component Settings */
  --color-bull: #b52121;
  --color-cow: whitesmoke;
  /* root colors */
  --color-lightBlue: #59c9f1;
  --color-darkBlue: #151152;
  --color-Red: #b52121;
  --color-darkBrown: #6b3710;
  --color-lightBrown: #dda059;
  --color-yellow: #ffd921;
}

.secret-number {
  border: 2px solid var(--color-darkBrown);
  margin: 5px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
}
